html, body {
  margin : 0;
}

body {
  height: 1500px;
}

.header-context {
  height: 120px;
  background-color: #abe886;
}

.main-context {
  height : 1500px;
  background-color: #dcf4cd;
  text-align: center;
  display: flex;
}

.form_content {
  width: 100%;
}
.text_form {
  text-align: center;
  margin: 80px;
}

.checkBox_form {
  text-align: center;
  margin: 80px;
}

.radioBtn_form {
  text-align: center;
  margin: 80px;
}

.listBox_form {
  text-align: center;
  margin: 80px;
}

.file_form {
  text-align: center;
  margin: 80px;
}

.textFile_form {
  text-align: center;
  margin: 80px;
}

.footer-context {
  height: 120px;
  background-color: #c1c49d;
}
