html, body {
  margin : 0;
}

body {
  height: 100vh;
}

.header-context {
  height: 10vh;
  background-color: #abe886;
}

.main-context {
  height : 80vh;
}

.first_row {
  margin-top: 2.5vh;
  display: flex;
  height: 25vh;
}

.first_child1 {
  width: 100%;
  background-color: #86d385;
  margin: 5px;
}

.first_child2 {
  width: 100%;
  background-color: #86d385;
  margin: 5px;
}

.second_row {
  display: flex;
  height: 25vh;
}

.second_child1 {
  width: 100%;
  background-color: #86d385;
  margin: 5px;
}

.second_child2 {
  width: 100%;
  background-color: #86d385;
  margin: 5px;
}

.third_row {
  margin-bottom: 2.5vh;
  display: flex;
  height: 25vh;
}

.third_child1 {
  width: 100%;
  background-color: #86d385;
  margin: 5px;
}

.third_child2 {
  width: 5%;
  background-color: #86d385;
  margin: 5px;
  transition: 10s;
}

.footer-context {
  height: 10vh;
  background-color: #c1c49d;
}
