html, body {
  margin: 0;
}

body {
  height: 100vh;
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
}

.header-context {
  height: 10vh;
  background-color: #abe886;
}

.main-context {
}

.first_row {
  margin-top: 2.5vh;
  display: flex;
  text-align: center;
}

.first_child1 p {
  font-weight: bold;
}

.first_child1 {
  width: 100%;
  background-color: #86d385;
  margin: 5px;
}

.first_child2 {
  width: 100%;
  background-color: #86d385;
  margin: 5px;
}

.second_row {
  display: flex;
}

.second_child1 {
  width: 100%;
  background-color: #86d385;
  margin: 5px;
}

.second_child2 {
  width: 100%;
  background-color: #86d385;
  margin: 5px;
}

.third_row {
  display: flex;
}

.third_child1 {
  width: 100%;
  background-color: #86d385;
  margin: 5px;
}

.third_child2 {
  width: 5%;
  background-color: #86d385;
  margin: 5px;
  transition: 10s;
}

.fourth_row {
  margin-bottom: 2.5vh;
  display: flex;
}

.fourth_child1 {
  width: 100%;
  background-color: #86d385;
  margin: 5px;
}

.fourth_child2 {
  width: 100%;
  background-color: #86d385;
  margin: 5px;
}

.footer-context {
  height: 10vh;
  background-color: #c1c49d;
}
