html, body {
  margin: 0;
}

body {
  height: 2000px;
}

.header-context {
  height: 120px;
  background-color: #abe886;
}

.main-context {
  height: 1760px;
}

.form_websit {
  height: 170px;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #dbadb5;
  transition: margin .1s;
  margin: 0;
}

.form_websit:hover {
  transition: margin .1s;
  margin: 10px;
}

.item_list {
  height: 170px;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #ddafd9;
  transition: margin .1s;
  margin: 0;
}

.item_list:hover {
  transition: margin .1s;
  margin: 10px;
}



.footer-context {
  height: 120px;
  background-color: #c1c49d;
}
