html, body {
  margin : 0;
}

body {
  height: 700px;
}

.header-context {
  height: 120px;
  background-color: #abe886;
}

.main-context {
  height : 500px;
  background-color: #dcf4cd;
}

.footer-context {
  height: 120px;
  background-color: #c1c49d;
}
